@using Saffron.Models
@model AccountDetailViewModel

@{
    ViewBag.Title = "Details";
}



<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="ibox-tools">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="@Url.Action("Edit",new { id = Model.Account.Id } )">Edit</a>
                                    <a href="@Url.Action("Delete",new { id = Model.Account.Id })">Delete</a>
                                </li>

                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                        <h2>@Model.Account.Institution.Name  -  @Model.Account.AccountType.Name  </h2>
                        <h3>Current Balance: $@Model.Account.Balance</h3>
                    </div>
                    <div class="ibox-content">
                        <table class="table" id="myTable">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Details</th>
                                    <th>Transaction Dates</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var transaction in Model.Transactions)
                                {
                                    <tr>
                                        <td>@transaction.Category.Name</td>
                                        <td>@transaction.Type.Name : $@transaction.Amount</td>
                                        <td>@transaction.Date</td>
                                        <td><i class="fa fa-gear" onclick="editTransactionBtn(@transaction.Id)"></i></td>
                                    </tr>
                                }
                            </tbody>
                        </table>




                    </div>

                    <!-- Modal Start-->
                    <div class="modal fade" id="editTransactionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" style="width:1100px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Edit Transaction </h4>
                                </div>
                                <div class="modal-body" id="editTransactionModal-Body">

                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Ajax.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            $('.datePicker').datepicker({
                format: 'mm/dd/yyyy',
                orientation: 'bottom'
            });
            $('.pickdate').datepicker({
                format: 'mm/dd/yyyy',
                orientation: 'bottom'
            });
        })

    </script>
}