@using Saffron.Models
@model BudgetItem

@{
    ViewBag.Title = "Edit";
}



<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h2>Edit Account</h2>
                        <div class="ibox-tools">

                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div>
                            @using (Html.BeginForm("Edit", "Budgets", FormMethod.Post, new { id = "editForm" }))
                            {
                                <input data-val="true" data-val-number="The field Int32 must be a number." data-val-required="The Int32 field is required." id="BudgetId" name="BudgetId" type="hidden" value="@ViewBag.BudgetId">
                                @Html.HiddenFor(m => Model.BudgetId)
                                @Html.HiddenFor(m => Model.Id )
                                
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Amount</th>
                                            <th>Frequency</th>
                                            <th>Day of the Month</th>

                                            @*<th>Reconciled? </th>*@

                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    @Html.AntiForgeryToken()
                                    <tbody>
                                        <tr>
                                            <td>@Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })</td>
                                            <td>@Html.Editor("Amount", new { htmlAttributes = new { @class = "form-control " } })</td>
                                            <td>@Html.DropDownList("RepeatFrequencyId", null, htmlAttributes: new { @class = "form-control" })</td>
                                            <td>@Html.Editor("DayOfMonth", new { htmlAttributes = new { @class = "form-control" } })</td>
                                            @*<td>@Html.CheckBox("Reconciled", false)</td>*@
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="submit" class="btn btn-warning"> Save Changes </button>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/Ajax.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            $('.datePicker').datepicker({
                format: 'mm/dd/yyyy',
                orientation: 'bottom'
            });
            $('.pickdate').datepicker({
                format: 'mm/dd/yyyy',
                orientation: 'bottom'
            });
        })

    </script>
}